.logo {
  font-family: 'Trykker';
  color: white;
  padding-left: 5vw;
}

.desc {
  font-weight: 100;
  color: white;
  font-size: 0.8em;
  padding-left: 5vw;
}

.image {
  height: 220px;
  margin-left: -15px;
  margin-right: -15px;
}

.height {
  height: 220px;
  margin-left: -15px;
  margin-right: -15px;
}

.image-container {
  position: relative;
  cursor: pointer;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;

  -webkit-transition: background-image 0.5s ease-in-out;
  -moz-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.image-container:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
}


.image-height {
  height: 100%;
  width: 100%;
  position: absolute;
}

.image-text {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  font-weight: 700;
  font-size: 1.3em;
}
