.logo {
  font-family: 'Trykker';
  color: white;
}

.desc {
  font-weight: 100;
  color: white;
  font-size: 0.8em;
  padding-left: 5vw;
}

.navbar {
  height: 280px;
  background-color: black;
  margin-left: -15px;
  margin-right: -15px;
}
