.image1 {
  background-color: aquamarine;
  min-height: 250px;
  height: 28vh;
}

.image2 {
  background-color: rgb(22, 116, 84);
  min-height: 200px;
  height: 28vh;
}

.image3 {
  background-color: rgb(5, 51, 36);
  min-height: 200px;
  height: 28vh;
}

.my-container {
  margin-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
}

.my-container-small {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-right: 80px;
  padding-left: 80px;
}

.bordered-box {
  margin: 10px;

  border-width: 0.1em 0 0.1em 0.1em;;
  border-style: solid;

  -webkit-border-image: 
    -webkit-gradient(linear, 100% 0, 0 0, from(rgb(255, 2, 2)), to(rgb(2, 255, 129))) 1 100%;
  -webkit-border-image: 
    -webkit-linear-gradient(rgb(255, 2, 2), rgb(2, 255, 129)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(rgb(255, 2, 2), rgb(2, 255, 129)) 1 100%;    
  -o-border-image:
    -o-linear-gradient(rgb(255, 2, 2), rgb(2, 255, 129)) 1 100%;
  border-image:
    linear-gradient(to bottom, rgb(255, 2, 2), rgb(2, 255, 129)) 1 100%;
}

.image-container {
  position: relative;
  cursor: pointer;

  height: 280px;

  margin-top: 20px;
  margin-bottom: 20px;

  -webkit-transition: background-image 0.5s ease-in-out;
  -moz-transition: obackground-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.image-container:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
}


.image-height {
  height: 100%;
  width: 100%;
  position: absolute;
}

.text-box {
  padding-top: 100px;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .boom {
    display: none;
  }
  
  .my-container {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .my-container-small {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .text-box {
    padding-top: 10px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .boom {
    display: none;
  }
  
  .my-container {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .my-container-small {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .text-box {
    padding-top: 10px;
  }

}