body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
}

$colors: (
  c00: #000000,
  c01: #ff0000,
);

@each $name, $value in $colors{
  .bg-c-#{$name} {
    background-color: $value !important;
  }

 .c-#{$name} {
    color: $value !important;
  }
};

